
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
        .poppins-extralight {
            font-family: "Poppins", sans-serif;
            font-weight: 200;
            font-style: normal;
          }
          
          .poppins-regular {
            font-family: "Poppins", sans-serif;
            font-weight: 400;
            font-style: normal;
          }
          *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
          }
          body,
          input,
          button{
            font-size: var(--normal--font--size);
            font-family: var(--body--font);
          }
         
          input, button{
            border: none;
            outline: none;
          }
          a{
            text-decoration: none ;
          }
          img{
            max-width: 100%;
            height: auto;
          }

          /* login */

 
          .login{
            position: relative;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .login-img {
            position: absolute;
            height: 100%;
            width:  100%;
            background-size: cover;
            background-position: center;
          }
.login--form{
  width: 25rem;
    position: relative;
    background-color:hsla(0, 0%,10%, .1) ;
    border: 2px solid white;
    margin-inline: 1.5rem;
    padding: 2.5rem 1.5rem;
    border-radius: 1rem;
    backdrop-filter:blur(1rem);
}
.login--title{
    text-align: center;
    font-size: 2rem;
font-weight: 2rem;
    margin-bottom: 2rem;
    color: white;

}
.login-content,.login-box{
    display: grid;
flex-direction: column ;
 
}
.login-content{
    row-gap: 1.75rem;
}
.login-box{
    display: grid;
    grid-template-columns:max-content 1fr;
align-items: center;
column-gap: .7rem;
/* margin-bottom: 1rem; */
border-bottom: 2px solid white;

}
.login-icon,.login-eye{
    font-size: 1.25rem;
}
.login-input{
width: 100%;
padding-block: .8rem;
color: white;
background: none;
position: relative;
z-index: 1;
}
.login-box-input{
    position: relative;
}
.login-label{
    position: absolute;
    top: 13px;
    left: 0;
    font-weight: var(--font-medium);
    transition: top .3s ,font-size .3s;
    color: white;
}
.login-eye{
    position: absolute;
    right: 0;
    top: 18px;
    z-index: 10;
    cursor: pointer;
}
.login-box:nth-child(2) input{
    padding-right: 1.8rem;
}

.login-check,.login-check-groub{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-check{
  margin-bottom: 1.5rem;
}
.login-check-label,.login-forgot,.login-register{
  font-size: var(--small-font-size);
}
.login-check-groub{
  column-gap: .5rem;
  color: white;
}
.login-check-input{
  width: 16px;
  height: 16px;
  
}


.login-forgot{
  color: white;
}
.login-forgot:hover{
  text-decoration: underline;

}

.login-forgot:active{
color: black;
}
.login-button{
  width: 100%;
  border-radius: .5rem;
  padding: 1rem;
  border: 1px solid white;
  background: none;
  color: white;
  font-size: large;

 
}
.login-button:active{
 
  border: 3px solid white;
}
.login-register{
  align-items: center;
  color: white;
}
.login-register a{
  color: white;
  font-weight: var(--font-medium);
  font-size: 1.2rem;

}
.login-register a:hover{
  text-decoration: underline;

}
.login-register a:active{
  color: black;
}
.login-input:focus + .login-label{
top:-12px;
font-size: small;
}

.login-input:not(:placeholder-shown).login-input:not(:focus)+.login-label{
  top:-12px;
  font-size:var(--small-font-size)
}
